<footer class="footer">
	<div id="footer-holder">
		<div id="footer-col-holder">
			<div class="footer-col">
				<h3 class="contact-header">Contact</h3>
				<a id="email-button" href="mailto:essencediamant@gmail.com">Email Us</a>
				<address>
					<span>Essence Diamant France</span>
					<span>Laudonie</span>
					<span>24390 Tourtoirac</span>
				</address>
			</div>
			<div class="footer-col">
				<h3 class="subscribe-header">Subscribe</h3>
				<p>
					Receive updates as we realize our goal of bringing Diamond Approach workshops and books to France.
				</p>
				<%= form_for(Subscriber.new) do |f| %>
					<%= f.label "Email:" %>
					<%= f.text_field :email %>
					<%= f.hidden_field :language, :value => "English" %>
					<%= f.submit "Subscribe", class: "button" %>
				<% end %>
			</div>
			<div class="footer-col footer-col-paragraph">
				<h3 class="follow-header">Follow</h3>
				<p>Join the Essence Diamant Facebook Group:</p>
				<a href="https://facebook.com/EssenceDiamantFrance" target="_blank"><%= image_tag image_path('facebook-link.gif')%></a>
			</div>
		</div>
		<div id="copy">
	    <p>
		    Created with Ruby on Rails by
		    <a href="http://joepeloquin.com/" target="_blank">Joe Peloquin</a> 
		    • Contributor: Kevin Dancelme •
      </p>
      <p>
  	    © 2013 DIAMOND APPROACH, RIDHWAN DIAMOND APPROACH, RIDHWAN, and the Ridhwan "Hu" symbol are registered trademarks of the Ridhwan Foundation.
      </p>
    </div>
  </div>
</footer>