<footer class="footer">
	<div id="footer-holder">
		<div id="footer-col-holder">
			<div class="footer-col">
				<h3 class="contact-header">Contact</h3>
				<a id="email-button" href="mailto:essencediamant@gmail.com">Nous Contacter</a>
				<address>
					<span>Essence Diamant France</span>
					<span>Laudonie</span>
					<span>24390 Tourtoirac</span>
				</address>
			</div>
			<div class="footer-col">
				<h3 class="subscribe-header">S'abonner</h3>
				<p>
					Pour être tenus informés de nos activités (articles, publications, retraites), rejoignez notre liste de diffusion.
				</p>
				<%= form_for(Subscriber.new) do |f| %>
					<%= f.label "Email:" %>
					<%= f.text_field :email %>
					<%= f.hidden_field :language, :value => "french" %>
					<%= f.submit "S'abonner", class: "button" %>
				<% end %>
			</div>
			<div class="footer-col footer-col-paragraph">
				<h3 class="follow-header">Échanger</h3>
				<p>Rejoignez la communauté Facebook d'Essence Diamant France:</p>
				<a href="https://facebook.com/EssenceDiamantFrance" target="_blank"><%= image_tag image_path('facebook-link.gif')%></a>
			</div>
		</div>
		<div id="copy">
	    <p>
		    Créé avec Ruby on Rails par 
		    <a href="http://joepeloquin.com/" target="_blank">Joe Peloquin</a> 
		    • Contributeur: Kevin Dancelme •
      </p>
      <p>
  	    © 2013 APPROCHE DIAMANT (DIAMOND APPROACH), RIDHWAN et le symbole "Hu" sont des marques déposées de la Fondation Ridhwan.
      </p>
    </div>
  </div>
</footer>