<header id="navbar">
  <div id="navbar-inner">
    <%= link_to "essence diamant france", root_path, id: "logo" %>
		<nav id="nav">
		  <ul>
				<li><%= link_to "Accueil", root_path %></li>
				<li><%= link_to "Ressources", '#' %></li>
				<li><%= link_to "Projets", '#' %></li>
				<li><%= link_to "Contact", '#' %></li>
			</ul>
		</nav>
	</div>
	<div id="navbar-bottom-border"></div>
</header>