<header id="navbar">
  <div id="navbar-inner">
    <%= link_to "Essence Diamant France", root_path, id: "logo" %>
		<nav id="nav">
		  <ul>
				<li class="strength"><%= link_to "Accueil", root_path %></li>
				<li class="joy"><%= link_to "Ressources", '#' %></li>
				<li class="will"><%= link_to "Projets", '#' %></li>
				<li class="compassion"><%= link_to "Communauté", '#' %></li>
				<li class="clarity"><%= link_to "Contact", '#' %></li>
			</ul>
		</nav>
	</div>
	<div id="navbar-bottom-border"></div>
</header>