<<<<<<< HEAD
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
		<div class="container">
      <%= link_to "essence diamant", root_path, id: "logo" %>
		  <nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Donate", '#' %></li>
					<li><%= link_to "Join", '#' %></li>
				</ul>
			</nav>
		</div>
=======
<header id="navbar">
  <div id="navbar-inner">
    <%= link_to "essence diamant france", root_path, id: "logo" %>
		<nav id="nav">
		  <ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Donate", '#' %></li>
				<li><%= link_to "Join", '#' %></li>
			</ul>
		</nav>
>>>>>>> layout-changes
	</div>
	<div id="navbar-bottom-border"></div>
</header>